{{! Sheet Header }}
<header class="sheet-header">
    <img 
        class="profile-img" 
        src="{{actor.img}}" 
        data-edit="img"
        data-action="onEditImage"
        data-tooltip="{{actor.name}}"
        height="100"
        width="100"
    />
    <div class="header-fields">
        <div class="document-name">
            <input 
                name="name"
                type="text"
                value="{{actor.name}}"
                placeholder="Name"
            />
        </div>
        {{! Generic Foundry Grid classes are defined in scss/global/_grid.scss.
            To use: use both "grid" and "grid-Ncol" classes
            where "N" can be any number from 1 - 12 and will create that many columns }}
        <div class="resources grid grid-3col">

            {{! "flex-group-center" is also defined in the _grid.scss file
                it will add a small amount of padding and a border,
                all text and child elements will be centered }}
            <div class="resource flex-group-center">
                <label for="system.vitality.value" class="resource-label">
                    {{localize 'THYMORANDREAMS.Actor.base.FIELDS.health.value.label'}}
                </label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input 
                        type="text"
                        name="system.vitality.value"
                        value="{{system.vitality.value}}"
                        data-dtype="Number"
                    />
                    <span> / </span>
                    <input 
                        type="text"
                        name="system.vitality.max"
                        value="{{system.vitality.max}}"
                        data-dtype="Number"
                    />
                </div>
            </div>

            <div class="resource flex-group-center">
                <label for="system.shield.value" class="resource-label">
                    {{localize 'THYMORANDREAMS.Actor.base.FIELDS.shield.value.label'}}
                </label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input 
                        type="text"
                        name="system.shield.value"
                        value="{{system.shield.value}}"
                        data-dtype="Number"
                    />
                    <span> / </span>
                    <input 
                        type="text"
                        name="system.shield.max"
                        value="{{system.shield.max}}"
                        data-dtype="Number"
                    />
                </div>
            </div>

            <div class="resource flex-group-center">
                {{if (eq actor.type 'player')}}
                    <label class="resource-label">
                        {{localize 'THYMORANDREAMS.Actor.Character.FIELDS.attributes.level.value.label'}}
                    </label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input 
                            type="text"
                            name="system.attributes.level.value"
                            value="{{system.attribues.level.value}}"
                            data-dtype="Number"
                        />
                    </div>
                {{/if}}
                {{if (eq actor.type 'npc')}}
                    <label class="resource-label">
                        {{localize 'THYMORANDREAMS.Actor.NPC.FIELDS.spellTier.label'}}
                    </label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input 
                            type="text"
                            name="system.spellTier"
                            value="{{system.spellTier}}"
                            data-dtype="Number"
                        />
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</header>